body {
	height:95%;
	color: #222;
	background: #F5F4EF;
	background-image: -webkit-gradient(
		 linear,
		 left top,
		 left bottom,
		 color-stop(0, rgb(218,231,235)),
		 color-stop(0.1, rgb(245,244,239)),
		 color-stop(0.96, rgb(245,244,239)),
		 color-stop(1, rgb(224,224,224))
	);
	background-image: -moz-linear-gradient(
		 center top,
		 rgb(218,231,235) 0%,
		 rgb(245,244,239) 10%,
		 rgb(245,244,239) 96%,
		 rgb(224,224,224) 100%
	);
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
    text-shadow: 1px 1px 2px #CCC;
}

td {
	padding-right: 10px;
}

table {
	margin-left:auto;
	margin-right:auto;
}

.box{
	background: #fff;
	background-image: -webkit-gradient(
		 linear,
		 left top,
		 left bottom,
		 color-stop(0, rgb(255,255,255)),
		 color-stop(0.58, rgb(227,227,227)),
		 color-stop(0.71, rgb(199,199,199)),
		 color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		 center top,
		 rgb(255,255,255) 0%,
		 rgb(227,227,227) 58%,
		 rgb(199,199,199) 71%,
		 rgb(255,255,255) 100%
	);
	background-size:100% 4px;
	background-repeat:no-repeat;
	background-position:center bottom;
	padding: 20px;
	clear:both;
   margin-top: 2em;
   margin-bottom: 2em;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.mapbox{
	height:90%;
	background: #fff;
	background-image: -webkit-gradient(
		 linear,
		 left top,
		 left bottom,
		 color-stop(0, rgb(255,255,255)),
		 color-stop(0.58, rgb(227,227,227)),
		 color-stop(0.71, rgb(199,199,199)),
		 color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		 center top,
		 rgb(255,255,255) 0%,
		 rgb(227,227,227) 58%,
		 rgb(199,199,199) 71%,
		 rgb(255,255,255) 100%
	);
	background-size:100% 4px;
	background-repeat:no-repeat;
	background-position:center bottom;
	padding: 20px;
	clear:both;
   padding: 10px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.box h2 {
	color: #4464c7; 
	font-size: 1.714em; 
	margin-bottom: 0.333em;
}

.timestamp {
	color: #999;
	font-size: 11px;
}

.image {
	float:right;
}

.thumbnail {
	width:48px;
	height:48px;
}

.overlay
{
   background-color: #000;
   opacity: .7;
   filter: alpha(opacity=70);
   position: absolute; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: 10;
}

.message {
   width: 50%;
   position:absolute;
   top:30%;
   left:25%;
   margin:auto;
   z-index: 11;
   float:center;
   border:10px solid #aaaaaa;
	background: #F5F4EF;
	background-image: -webkit-gradient(
		 linear,
		 left top,
		 left bottom,
		 color-stop(0, rgb(218,231,235)),
		 color-stop(0.1, rgb(245,244,239)),
		 color-stop(0.96, rgb(245,244,239)),
		 color-stop(1, rgb(224,224,224))
	);
	background-image: -moz-linear-gradient(
		 center top,
		 rgb(218,231,235) 0%,
		 rgb(245,244,239) 10%,
		 rgb(245,244,239) 96%,
		 rgb(224,224,224) 100%
	);
	background-repeat:no-repeat;
	padding: 20px;
	clear:both;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.message h2 {
	color: #4464c7; 
	font-size: 1.714em; 
	margin-bottom: 0.333em;
}

#page{
	max-width:800px;
	clear: both; 
	margin: 0 auto;
}

#top{
	width:auto;
	padding-left:10px;
	padding-right:10px;
	margin-top: 3em;
	margin-bottom: 3em;
	font-size:large;
}

#bottom {
	margin-left:5%;
	padding-bottom:2em;
	font-size:small;
}

#logo{
	float:left;
	padding-right:10px;
	padding-bottom:10px;
}

#info{
	width:auto;
	height:5%;
	padding-left:10px;
	padding-right:10px;
	font-size:large;
}

#state{
	padding-left:10px;
}

#backlink{
	float:right;
}

#map{
	height:100%;
	width:auto;
	z-index:1;
}

#permalink{
    margin-left:6px;
    margin-right:6px;
    background-image:url(img/link.png);
	float:right;
	width:24px;
	height:24px;
}

#permalink:hover{
    background-image:url(img/link_highlight.png);
}

#locate{
    margin-left:6px;
    margin-right:6px;
    background-image:url(img/locate.png);
	float:right;
	width:24px;
	height:24px;
}

#locate:hover{
    background-image:url(img/locate_highlight.png);
}

#city_select {
	font-size:large;
}

#footer{
	margin-top:10px;
}
