body {
	height:95%;
	background: #F5F4EF;
	background-image: -webkit-gradient(
		 linear,
		 left top,
		 left bottom,
		 color-stop(0, rgb(218,231,235)),
		 color-stop(0.1, rgb(245,244,239)),
		 color-stop(0.96, rgb(245,244,239)),
		 color-stop(1, rgb(224,224,224))
	);
	background-image: -moz-linear-gradient(
		 center top,
		 rgb(218,231,235) 0%,
		 rgb(245,244,239) 10%,
		 rgb(245,244,239) 96%,
		 rgb(224,224,224) 100%
	);
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
    text-shadow: 1px 1px 2px #CCC;
}

td {
	padding-right: 10px;
}

table {
	margin-left:auto;
	margin-right:auto;
}

.box{
	background: #fff;
	padding: 20px;
	clear:both;
   padding: 20px;
   margin-top: 2em;
   margin-bottom: 2em;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.box h2 {
	color: #4464c7; 
	font-size: 1.714em; 
	margin-bottom: 0.333em;
}

.timestamp {
	color: #999;
	font-size: 11px;
}

.image {
	float:right;
}

#page{
	max-width:800px;
	clear: both; 
	margin: 0 auto;
}

#top{
	width:auto;
	padding-left:10px;
	padding-right:10px;
	margin-top: 3em;
	margin-bottom: 3em;
	font-size:large;
}

#bottom {
	text-align:center;
}

#logo{
	float:left;
	padding-right:10px;
	padding-bottom:10px;
}

#info{
	width:auto;
	height:5%;
	padding-left:10px;
	padding-right:10px;
	font-size:large;
}

#state{
	
}

#backlink{
	float:right;
}

#attribution{
	float:right;
	font-size:small;
}

#map{
	height:90%;
	background: #fff;
	overflow: hidden;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#city_select {
	font-size:large;
}

#footer{
	margin-top:10px;
	padding-left:20px;
	padding-right:20px;
}
